/Basic_From_Lab_2.sdk/audio/Debug
/Basic_From_Lab_2.sdk/hi/Debug
/Basic_From_Lab_2.hw
/Basic_From_Lab_2.ip_user_files
/Basic_From_Lab_2.runs
/Basic_From_Lab_2.cache
/Basic_From_Lab_2.srcs
/Basic_From_Lab_2.sim
/Basic_From_Lab_2.xpr
/Basic_From_Lab_2.sdk/.metadata
/Basic_From_Lab_2.sdk/RemoteSystemsTempFiles
/Basic_From_Lab_2.sdk/webtalk
/Basic_From_Lab_2.sdk/*.log
/*.jou
/*.log
